.header {
  background: linear-gradient(#990000, #990000, #990000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mdl-layout__header-row .mdl-navigation__link {
  color: #FFCC00;
  font-size: 20px;
}

.demo-big-content {
  padding-bottom: 50px;
}
